.banner{
    background-color: rgb(23, 100, 3);
}
h1{
    color: black;
}
button{
    border-radius: 2rem;
    color: aqua;
    background-color: black;
}
h2{
    color: red;
}
.bg{
    background-color: blue ;
}